body {
  display: flex;
  justify-content: center;
  font-size: x-large;
  background-color: rgb(155, 155, 155);
}

.head {
 background-color: rgb(250, 125, 76);
 padding: 5px;
 border-radius: 10px;
 box-shadow: 10px 5px 5px black;
}

li {
  list-style: none;
  background-color: rgb(77, 228, 248);
  padding: 5px;
  box-shadow: 10px 5px 5px black;
}

.foot {
  background-color: dodgerblue;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 10px 5px 5px black;
}