#div1{ 
  background-color: blue;
  max-width: 80%;
  font-family: monospace;
  color: white;
  border-radius: 5px;
  font-style: italic;

}
#div2{
  background-color: pink;
  max-width: 80%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 10px;
    
}
#div3{
  background-color: green;
  font-family: inherit;
  border-radius: 15px;
  font-style: italic;
  
}
#div4{
  color: white;
  background-color: black;
  max-width: 80%;
  font-family: fantasy;
  border-radius: 30px;
}
#div5{
  background-color: rgb(173, 172, 172);
  max-width: 80%;
  font-style: italic;

    
}
div:hover{
  background-color: darkorchid;
}
