body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(123, 255, 0);
}

.pokedexh1 {
  font-size: x-large;
  color: rgb(0, 0, 0);
  background-color: rgb(26, 125, 238);
  margin: auto;
  width: 700px;
  border-radius: 5px;
  box-shadow: 10px 5px 5px rgb(58, 57, 57);
  padding: 10px;
}

.pokemon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex: 1 1 0;
  min-width: 25%;
  margin: 10px 10px;
  border: 1px gray solid;
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgb(58, 57, 57);
  background-color: aqua;
  width: 500px;
  margin: auto;
  margin-bottom: 20px;
  padding: 50px;
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10px 10px;
}

.button-text {
  background-color: rgb(172, 76, 228);
  color: black;
  font-size: 15px;
  font-weight: 598;
  text-align: center;
  width: 100px;
  padding: 20px;
  align-self: center;
  margin: 10px;
  box-shadow: 8px 3px 3px rgb(58, 57, 57);
  border-radius: 5px;
}

.filter-button  button :hover{
 background-color: aqua;
}